.get {
  padding-top: 64px;
  padding-bottom: 64px;
  @include bg;
  background-image: url('/src/img/bgs/get-bg.jpg');
  background-position-x: left;
}

.get__content {
  max-width: 831px;
  margin-left: auto;
}

.get__title {
  @include title;
  margin-bottom: 24px;

  @include mobile-mb;
}

.get__list-title {
  @include h3;
  margin-bottom: 24px;

  @include mobile-mb;
}

.get__list {
  @include reset-list;
  display: flex;
  
}