.start {
  @include bg;
  background-image: url('/src/img/bgs/start-bg.jpg');
  padding-top: 130px;
  padding-bottom: 64px;

  @media (max-width: 1060px) {
    padding-bottom: 0;
  }

  @media (max-width: 650px) {
    padding-top: 30px;
  }
}

.start__title {
  @include title;
  margin-bottom: 24px;

  @include mobile-mb;
}

.start__card {
  max-width: 522px;
  margin-left: auto;
  margin-right: auto;
  @include bg;
  background-image: url('/src/img/owner-card-bg.png');
  filter: drop-shadow(4px 4px 71px rgba(0, 0, 0, 0.15));
  padding-left: 56px;
  padding-top: 56px;
  padding-bottom: 44px;
  padding-right: 77px;
  position: relative;
  left: -100px;

  @media (max-width: 1060px) {
    left: 0;
  }

  @media (max-width: 650px) {
    padding: 25px;
  }
}

.start__text-box {
  margin-bottom: 38px;

  @include mobile-mb;

  & > * + * {
    margin-top: 10px;
  }
}

.start__list-title {
  font-family: 'Copyright House Industries';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 12px;

  @media (max-width: 650px) {
    font-size: 28px !important;
  }
}

.start__list {
  @include reset-list;
  margin-bottom: 38px;
  padding-left: 15px;

  @include mobile-mb;

  & > * + * {
    margin-top: 6px;
  }
}

.start__item {
  padding-left: 35px;
  position: relative;

  &::before {
    width: 27px;
    height: 26px;
    @include bg;
    background-image: url('/src/img/icons/gold-check.png');
    content: '';
    position: absolute;
    left: 0;
    @include y-align;
  }
}

.start__note {
  margin-bottom: 24px;

  @include mobile-mb;
}

.start__owner-name {
  background: linear-gradient(90deg, #c88c44 0%, #e9c883 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'Copyright House Industries';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 2px;

  @media (max-width: 650px) {
    font-size: 35px !important;
  }
}

.start__owner-name-caption {
  font-weight: 400;
  margin-bottom: 0;
}

.start__owner-text-box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  position: relative;
  left: 130px;

  @media (max-width: 650px) {
    left: 0;
    align-items: flex-start;
  }
}

.start__owner-img {
  position: absolute;
  bottom: -64px;
  right: 0px;

  @media (max-width: 1060px) {
    position: relative;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @include max-width(445px);
    margin-top: 20px;
    height: auto;
  }
}
